<label class="search-component">
    <img
        class="search-component_icon"
        width="{{ iconSize }}"
        height="{{ iconSize }}"
        src="/src/components/search/assets/search-icon.svg"
        alt="Иконка: Лупа"
    >
    <input
        class="search-component_input"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        type="text"
    >
    <button class="search-component_button">
        <img
            class="search-component_icon cross-icon"
            width="{{ iconSize }}"
            height="{{ iconSize }}"
            src="/src/components/search/assets/cross-icon.svg"
            alt="Иконка: Крестик"
        >
    </button>
</label>
