<div class="sheet-component">
    <p class="sheet-component-sheet_nickname">{{ nickname }}</p>
    <div class="sheet-component_functions">
        <button class="sheet-component_functions-button">
            <img
                class="sheet-component_functions-icon"
                width="{{ iconSize }}"
                height="{{ iconSize }}"
                src="/src/components/sheet/assets/plus-icon.svg" alt="Иконка: Плюс"
            >
        </button>
        <a class="sheet-component_functions-link" href="/src/pages/profile/index.html">
            <img
                class="sheet-component_functions-icon arrow-icon"
                width="{{ iconSize }}"
                height="{{ iconSize }}"
                src="/src/components/sheet/assets/arrow-right.svg"
                alt="Иконка: Правосторонняя стрелка"
            >
        </a>
    </div>
</div>
